@use "../variables" as *;

.addTask {
  display: flex;
  flex-direction: column;

  & h2 {
    margin: 0;
    padding: 0;

    & i {
      margin: inherit;
    }
  }

  & * {
    margin: 1%;
  }

  &__input {
    display: flex;
    flex-direction: column;
    min-height: 90%;
  }

  & label {
    color: $color-dark;
  }

  & input {
    padding: 1%;
    border-radius: 0.3rem;
    border: solid $color-mid 0.1rem;
    background-color: $color-light;
  }

  & i {
    color: $color-green-mid;
  }

  & .tags {
    display: flex;
    justify-content: space-around;

    &__item {
      display: flex;
      padding: 1%;
      border: solid 0.1rem;
      border-radius: 1rem;
    }

    & .high {
      background-color: $tag-color-high-light;
      border-color: $tag-color-high-dark;

      & label {
        color: $tag-color-high-dark;
      }
    }

    & .medium {
      background-color: $tag-color-medium-light;
      border-color: $tag-color-medium-dark;

      & label {
        color: $tag-color-medium-dark;
      }
    }

    & .low {
      background-color: $color-green-light;
      border-color: $color-green-dark;

      & label {
        color: $color-green-dark;
      }
    }
  }
  & button {
    align-self: center;
    padding: 1%;
    width: 60%;
    border: none;
    border-radius: 1rem;
    color: white;
    background-color: $color-dark;

    & i {
      color: white;
    }
  }
}
