@use "../variables" as *;

.weather {
  grid-area: 1/1/2/2;

  &__main {
    height: 55%;
    border-bottom: solid $color-light 0.1rem;
    padding: 3%;
    padding-top: 0;

    & > div,
    & input {
      text-align: center;
    }
    & h1 {
      font-size: 2rem;
      & i {
        font-size: 1.6rem;
      }
    }
    & .time {
      font-size: 1.3rem;
      padding: 1%;
    }
  }

  &__details {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    min-height: 45%;

    &-item {
      display: flex;
      align-items: center;
      width: 40%;
      padding: 1%;
    }
    & > :first-child {
      width: 90%;
    }

    & i {
      padding: 3%;
    }

    & p {
      font-size: 0.8rem;
    }

    & h6 {
      font-size: 1rem;
      color: $color-dark;
    }
  }
}
