$font-main: system-ui, sans-serif;

$line-hight: 1.2rem;

$color-dark: #0a0a0a;
$color-mid: #717182;
$color-light: #e5e5e5;
$color-blue: #2b7fff;
$color-pink: #f6339a;
$color-green-light: #e6ffec;
$color-green-mid: #00c950;
$color-green-dark: #00a63e;

$tag-color-high-dark: #880000;
$tag-color-high-light: #ff9e9e;
$tag-color-medium-dark: #8d7300;
$tag-color-medium-light: #ffeea3;
$tag-color-low-dark: #1a9b00;
$tag-color-low-light: #62ff43;
