$font-main : system-ui, sans-serif;

$line-hight: 1.2rem;

$color-dark: #0A0A0A;
$color-mid: #717182;
$color-light: #E5E5E5;
$color-blue: #2B7FFF;
$color-pink: #F6339A;
$color-green-light: #e6ffec;
$color-green-mid: #00C950;
$color-green-dark: #00A63E;

$tag-color-high-dark: #880000;
$tag-color-high-light: #ff9e9e;
$tag-color-medium-dark: #8d7300;
$tag-color-medium-light: #ffeea3;
$tag-color-low-dark: #1a9b00;
$tag-color-low-light: #62ff43;
