$font-main : system-ui, sans-serif;

$line-hight: 1.2rem;

$color-dark: #0A0A0A;
$color-mid: #717182;
$color-light: #E5E5E5;
$color-blue: #2B7FFF;
$color-pink: #F6339A;
$color-green-light: #e6ffec;
$color-green-mid: #00C950;
$color-green-dark: #00A63E;